/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 12px;
    line-height: 1.4;
    background-color: #2b3a42;
}
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 17.4%;
        padding-right: 17.4%;
    }
    .TopBar{
        background-color: #3f5765;
        width: 100%;
        height: 2.6%;
        display: flex;
    }
    .Logo{
        top: 0.7%;
        padding: 1.83rem 1.67rem 1.83rem 0;
    }
    .LogoText{
        font-family: Quantico-Bold;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 3.62px;
        padding: 1.92rem 0 1.83rem 0;
    }
    .bioname{
        display: flex;
    }
    .avater{
        padding: 4.92rem 1.67rem 2.25rem 0;
        order:0;
    }
    .introduce-block{
        display: flex;
        flex-direction: row;
    }
    .Quantico-Bold{
        font-family: Quantico-Bold;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 5.43px;
    }
    .name{
        padding: 6.92rem 2.5rem 1.33rem 0;
    }
    .Quantico-Regular{
        font-family: Quantico-Regular;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 2.41px;
    }
    .role{
        padding-top: 8.92rem;
    }
    .Quantico-Bold-WelcomeMessage{
        font-family: Quantico-Bold;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 3.02px;
    }
    .skill-headline{
        display: flex;
        justify-content: center;
        padding-bottom: 0.5%;
    }
    .Oxygen-Bold{
        font-family: Oxygen-Bold;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 2.41px;
    }
    .skill-padding{
        padding:1.33rem 0 4.59rem 0;
    }
    .skill-line{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.33rem;
    }
    .Oxygen-Regular{
        font-family: Oxygen-Regular;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 2.41px;
    }
    .contact{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        padding:1.75rem 0 3.08rem 0;
    }
    .contact-block{
        display: flex;
        flex-direction: column;
    }
    .contact-line{
        display: flex;
        padding-bottom: 1.63rem;
    }
    .p-Contact{
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 1.63rem;
    }
    .img-Contact{
        width:30px;
        height: 30px;
    }
    .work-experience{
        padding:2rem 0 0.67rem 0 ;
    }
    .description-Location-Block{
        display: flex;
        justify-content: space-between;
    }
    .work-experience-block{
        padding-bottom: 2.83rem;
    }
    .Oxygen-Light{
        font-family: Oxygen-Light;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 3.62px;
    }
    .experience-title{
        padding-bottom: 0.5rem;
    }
    .experience-job-role{
        padding-bottom: 1.33rem;
    }
    .project-block{
        padding: 2rem 0 3.5rem 0;
    }
    .project-title{
        padding-bottom:0.5rem;
    }
    .project-year{
        padding-bottom: 1.33rem;
    }
    .project-description{
        padding-bottom: 1.33rem;
    }

    .education-block{
        padding:2rem 0 2.8rem 0;
    }
    .education-school{
        padding-bottom: 0.5rem;
    }
    .education-year{
        padding-bottom: 1.33rem;
    }
    .major-Location-block{
        display: flex;
        justify-content: space-between;
    }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
